* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    box-shadow: 0px 0px 10px 5px red inset;
}

.blue {
    box-shadow: 0px 0px 10px 5px blue inset;
}

#gold {
    box-shadow: 0px 0px 20px 2px gold inset;
}

#gray {
    box-shadow: 0px 0px 20px 2px darkgray inset;
}

#p1turn {
    box-shadow: 0px 0px 10px 5px red;
}

#p2turn {
    box-shadow: 0px 0px 10px 5px blue;
}

.X {
    color: red;
    font-size: 120px;
    font-weight: bold;
}

.O {
    color: blue;
    font-size: 120px;
    font-weight: bold;
}

.game-info {
    position: relative;
    height: 65px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
}

.game-board {
    position: relative;
    width: 480px;
    aspect-ratio: 1;
    margin: 15px;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-control {
    position: relative;
    height: 50px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
}